body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
p {
    font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
    font-size: 2.5vh;
    }
input, textarea {
    font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
    font-size: 2.5vh;
}
ul li { 
   font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
    font-size: 2.5vh;
 }

h1 {
    color: #0E3434;
    font-family: "Winky Rough", sans-serif;
    font-size: 7vh;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.section{
    
    float:right;
    margin: 0 2%;
    padding-top: 0%;
    padding-bottom:3%;
    max-width: 54%;
    min-width:34%;
}
.aside{
    float:left;
    Margin-top:4%;
    margin-left: 3%;
    margin-right:3%;
    padding-bottom:3%;
    max-width: 35%;
    min-width:25%; 
}
.aboutsection{
    float:left;
    margin: 0 2%;
    padding-top: 0%;
    padding-bottom:3%;
    max-width: 54%;
    min-width:34%;
}

.portfolio{
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 4% 10% 6% 10%;
    max-width: 54%;
    min-width:34%;
    position: relative;
    border:solid;
    border-color:#7F4539;
    border-radius: 40px;
    text-align: center;
}




@media screen and (max-width: 1100px) {
    .section{float:none;max-width:80%;align-content: center;margin:auto; padding:auto;overflow:hidden;}
    .aboutsection{float:none;max-width:80%;align-content: center;margin:auto; padding:auto;overflow:hidden;}
  .aside {float: none; max-width:80%;align-content: center;margin:auto; padding:auto;overflow:hidden;}   
}

.Portimgleft{
    
    float:left;
    width: 60%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.Portimgright{
  float:right;
    width: 60%;
    margin-top: 5%;
    margin-bottom: 5%;  
}

.portinforight{
    float:right;
    width: 35%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
}
.portinfoleft{
    float:left;
    width: 35%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
}
@media screen and (max-width: 1000px) {
    .Portimgleft{float:none; margin:auto;width:90%;overflow:hidden;}
    .Portimgright{float:none;margin:auto;width:90%;overflow:hidden;}
    .portinforight{float:none;margin:auto;width:80%;margin-bottom: 20%;overflow:hidden;}
    .portinfoleft{float:none;margin:auto;width:80%;margin-bottom: 20%;overflow:hidden;}
    
}

img{
    width: 82%;
    height:100%;
    object-fit: contain;
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.button{
    padding:2%;
    padding-left: 6%;
    padding-right: 6%;
    border-radius: 40px;
    border-style: none;
    font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
    font-size: 2.5vh;
    background-color: #0E3434;
    margin-top: 4%;
    display: block;
  margin-left: auto;
  margin-right: auto;
     color:white;
}
.button:hover{
    transform: scale(1.1);
                background-color: #7F4539;
                transition: all 0.4s;
}
    
.no-underline a{text-decoration: none;}

h2 { 
font-family: "Winky Rough", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
    
    font-size: 4vh;  
    color: #215A5F;
}

h3 { 
font-family: "Winky Rough", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
header {
    width:150%;
    display: block;
    height: auto;
}
@media screen and (max-width: 480px){
    header{width:300%;overflow:hidden;}
  
}
.logo{
    display: grid;
    place-items: center;
    
}
ul.nav {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color: #0E3434;
}
ul.nav li {
    
    float: right;}

ul.nav li a, .dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 64px;
    text-decoration: none;
}



.dropdown-content {
  display: none;
  position:absolute;
  background-color: #4f8a8a;
  width: 229.5px;
  box-shadow: 1px 8px 16px 1px rgba(0, 0, 0, 0.33);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  
  text-align: left;
}

.dropdown-content a:hover {background-color: #215A5F;}

.dropdown:hover .dropdown-content {
  display: block;
} 

ul.nav li a:hover, .dropdown:hover .dropbtn:not(.active) {background-color: #185D5D}
.active {background-color: #7F4539}

@media screen and (max-width: 600px) {
  ul.nav li.right, 
  ul.nav li, .dropdown {float: none;overflow:hidden;}
    .dropdown-content {width: 100%;overflow:hidden;}
}
footer{
    
    width:100%;
    clear: both;
    margin-top: 5%;
                padding-bottom: 3%;
                padding-top: 3%;
                text-align-last: center;
                background-color: #0E3434;
                color: white;
               font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
                font-size: small
            }


form{
                display: flex;
                flex-direction: column;
                gap: 10px;
                border: 1px transparent;
                max-width: 900px;
                border-radius: 2em;
                margin-top: 100px;
                margin-left:auto;
                margin-right:auto;
                margin-bottom: auto;
                
                background-color: #185D5D;
            }
@media screen and (max-width: 950px) {
    form{
        margin-bottom: 15%;
        margin-left:3%;
        margin-right:3%;
    }
}
label{
     font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
    font-size: 2vh;
    color: white;
    text-align: center;
    
}
            input, textarea{
                font-size:large;
                margin: 1px 40px;
                border-radius: 10px;
                border-style: hidden;
                padding: 1%;
            }
            .buttonform{
                margin-bottom: 5%;
    padding:2%;
    padding-left: 6%;
    padding-right: 6%;
    border-radius: 40px;
    border-style: none;
    font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
    font-size: 2.5vh;
    background-color: white;
    margin-top: 4%;
    display: block;
  margin-left: auto;
  margin-right: auto;
    color:#0E3434;
}
.buttonform:hover{
    transform: scale(1.1);
                background-color: #efbdb1;
                transition: all 0.4s;
}

table{
    clear: left;
    margin-top: 8vh;
    margin-bottom:8vh;
    margin-left: auto;
    margin-right:auto;
    border-collapse: collapse;
}
tr{
    text-align: center;
}
tr:nth-child(even) {background-color: #fff3f0;}
th{
   width:225px;
    background-color: #7F4539;
    color: white;
    font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
    font-size: 2vh;
}
td{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
    font-size: 1.8vh;  
}
th,td{
    padding-top:10px;
    padding-bottom: 10px;
    padding-right:5px;
    padding-left:5px;
}
caption{ 
font-family: "Winky Rough", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
    text-align:center;
    font-size: 4vh;  
    color: #215A5F;
    padding-bottom: 2vh;
}



.gallery {
  border:none;
padding-top: 25px
}

.gallery:hover {
  background-color:rgba(205, 241, 241, 0.39);
transition: 0.5s;
}


.gallery img {
  width: 90%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
margin-bottom: 15%;
}

* {
  box-sizing: border-box;
}

.logogrid {
  padding: 0 6px;
  float: left;

  width: 32.99999%;
}

@media only screen and (max-width: 1200px) {
  .logogrid {
    width: 50%;
    margin: 6px 0;
    overflow:hidden;
  }
.portfolio{padding: 2% 2% 2% 2%; margin-bottom: 15%; margin-top: 10%; max-width:90%;overflow:hidden;}
}

@media only screen and (max-width: 700px) {
  .logogrid {
    width: 100%;
  }
}
